<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Feeds</key>
	<array>
		<dict>
			<key>Username</key>
			<string>Johnny</string>
			<key>AvatarURL</key>
			<string>http://www.sweekim.com/images/Tut_Eddy_img02.jpg</string>
			<key>ImageURL</key>
			<string>http://cdn3.pcadvisor.co.uk/cmsdata/features/3401121/iPhone-5-panorama-London-Bridge.png</string>
			<key>Description</key>
			<string>Image 1 Desc</string>
			<key>Timestamp</key>
			<date>2013-01-01T08:00:00Z</date>
			<key>Rating</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Username</key>
			<string>James</string>
			<key>AvatarURL</key>
			<string>http://www.moreart.org/wp-content/uploads/2010/02/generic_person2.jpg</string>
			<key>ImageURL</key>
			<string>http://upload.wikimedia.org/wikipedia/commons/5/5f/Chicago_Downtown_Panorama.jpg</string>
			<key>Description</key>
			<string>Image 2 Desc</string>
			<key>Timestamp</key>
			<date>2013-01-06T22:54:50Z</date>
			<key>Rating</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
